<ion-header>
    <ion-toolbar color="green">
        <ion-title>
            Επιλέξτε
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
      <span showwhen="ios">Cancel</span>
      <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
    </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="searchFor($event)" (ionClear)="onClear($event)"></ion-searchbar>

    <!--<div class="spacer" style="width: 300px; height: 30px;"></div>-->
    <ion-spinner *ngIf="isLoading"></ion-spinner>
    <list-errors *ngIf="errorObject" [errorObject]="errorObject"></list-errors>

    <div *ngIf="invPartyList ">
        <ion-list>
            <ion-list-header>ΑΠΟΤΕΛΕΣΜΑΤΑ</ion-list-header>
            <a ion-item (click)="selectIP(people)" detail-push *ngFor="let people of invPartyList">
                <span item-left color="primary" class="item-bold" *ngIf="people.InvolvedPartyType == '1'">
                    <ion-icon name="people"></ion-icon> </span>
                <span item-left color="primary" class="item-bold" *ngIf="people.InvolvedPartyType == '2'">
                    <ion-icon name="people"></ion-icon> </span>
                <span item-left color="primary" class="item-bold" *ngIf="people.InvolvedPartyType == '3'">
                    <ion-icon name="contact"></ion-icon> </span>
                <span item-left color="primary" class="item-bold" *ngIf="people.InvolvedPartyType == '4'">
                    <ion-icon name="home"></ion-icon> </span>
                <span color="dark" class="item-bold">{{people.FirstName}} {{people.LastName}}</span>
                <span color="dark" class="smallFonts" type="tel">{{people.Mobile}}</span>
            </a>
        </ion-list>
    </div>


</ion-content>