<ion-header>
    <ion-navbar color="green">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Ακίνητα</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="spacer" *ngIf="isLoading" style="width: 300px; height: 30px;"></div>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
    <list-errors *ngIf="errorObject" [errorObject]="errorObject"></list-errors>

    <ion-list>
        <realestate-property-card *ngFor="let pr of realEstateProperties" [realEstate]="pr">
        </realestate-property-card>
    </ion-list>
</ion-content>