<ion-header>
    <ion-navbar color="green">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Demands-RealEstate Matching</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="goToRoot()">
        <ion-icon name="home"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="spacer" *ngIf="isLoading" style="width: 300px; height: 30px;"></div>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
    <div *ngIf="errorMessage">
        <ion-card>
            <ion-card-content>
                {{errorMessage}}
            </ion-card-content>
        </ion-card>
    </div>

    <ion-list>
        <realestate-property-card *ngFor="let item of realEstateList" [realEstate]="item">
        </realestate-property-card>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab color="secondary"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab><ion-icon name="add"></ion-icon></button>
            <button ion-fab><ion-icon name="done-all"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>

</ion-content>