<ion-header>
    <ion-navbar color="green">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Epsilon Realty</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="getting-started">

    <ion-fab top right edge #fab>
        <button ion-fab mini><ion-icon name="add"></ion-icon></button>
        <ion-fab-list>
            <button ion-fab (click)="addProperty(fab)"><ion-icon name="home"></ion-icon></button>
            <button ion-fab><ion-icon name="briefcase"></ion-icon></button>
            <button ion-fab><ion-icon name="pin"></ion-icon></button>
            <button ion-fab><ion-icon name="cube"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>

    <ion-segment [(ngModel)]="searchType" color="primary">
        <ion-segment-button value="Customer">
            <ion-icon name="people"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Property">
            <ion-icon name="home"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <div class="spacer" style="height: 10px;"></div>
    <ion-searchbar (ionInput)="onInput($event)" (ionClear)="onClear($event)" debounce=500></ion-searchbar>

    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-spinner *ngIf="isLoading"></ion-spinner>

    <list-errors *ngIf="errorObject" [errorObject]="errorObject"></list-errors>

    <div *ngIf="involvedparties">
        <ion-list>
            <ion-list-header>
                Αποτελεσματα
            </ion-list-header>
            <involved-party-card *ngFor="let item of involvedparties" [card-people]="item">
            </involved-party-card>
        </ion-list>
    </div>

    <div *ngIf="properties">
        <ion-list>
            <ion-list-header>
                Αποτελεσματα
            </ion-list-header>
            <realestate-property-card *ngFor="let item of properties" [realEstate]="item">
            </realestate-property-card>
        </ion-list>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar color="green" position="bottom ">

        <ion-buttons start>
            <button ion-button color="royal" (click)="addIP() ">
            <ion-icon name="person-add" ></ion-icon>
        </button>
        </ion-buttons>

        <ion-buttons end>
            <button ion-button color="royal" (click)="addDemand() ">
            <ion-icon name="basket" ></ion-icon>
        </button>
        </ion-buttons>

    </ion-toolbar>
</ion-footer>