<ion-header>
    <ion-navbar color="green">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Epsilon Realty</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="getting-started">

    <ion-segment [(ngModel)]="searchType">
        <ion-segment-button value="Agent">
            <ion-icon name="people"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Customer">
            <ion-icon name="contact"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Property">
            <ion-icon name="home"></ion-icon>
        </ion-segment-button>
    </ion-segment>
    <div class="spacer" style="height: 10px;"></div>
    <ion-searchbar (ionInput)="onInput($event)" (ionClear)="onClear($event)" debounce=500></ion-searchbar>

    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-spinner *ngIf="isLoading"></ion-spinner>

    <ion-card *ngIf="errorMessage">
        <ion-item>
            <ion-icon subtle color="danger" large item-left name='warning'></ion-icon>
            <h2>Something went wrong... </h2>
            <p>{{errorMessage}}</p>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="notFound">
        <ion-item>
            <ion-icon subtle color="primary" large item-left name='information'></ion-icon>
            <h2>{{notFound}} </h2>
        </ion-item>
    </ion-card>

    <div *ngIf="people ">
        <ion-list>
            <!--<involved-party-card *ngFor="let item of people " [card-people]="item ">
            </involved-party-card>-->
        </ion-list>
    </div>

    <div *ngIf="property ">
        <ion-list>
            <!--<realestate-property-card *ngFor="let item of property " [realEstate]="item ">
            </realestate-property-card>-->
        </ion-list>
    </div>

</ion-content>

<!--<button fab color="secondary"  fab-bottom fab-center style="z-index: 999 " (click)="openActionMenu() ">
    <ion-icon name='add' is-active="false "></ion-icon>
</button>-->

<ion-footer>
    <ion-toolbar color="green" position="bottom ">

        <ion-buttons start>
            <button ion-button color="royal" (click)="addIP() ">
            <ion-icon name="person-add" ></ion-icon>
        </button>
        </ion-buttons>

        <ion-buttons end>
            <button ion-button color="royal" (click)="addProperty() ">
            <ion-icon name="add-circle" ></ion-icon>
        </button>
        </ion-buttons>

        <ion-buttons end>
            <button ion-button color="royal" (click)="addDemand() ">
            <ion-icon name="document" ></ion-icon>
        </button>
        </ion-buttons>

    </ion-toolbar>
</ion-footer>