<ion-header>
    <ion-navbar color="green">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Ζητήσεις</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="goToRoot()">
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            Ζητησεις
        </ion-list-header>
        <list-errors *ngIf="errorObject" [errorObject]="errorObject"></list-errors>
        <demand-card *ngFor="let item of demands" [demand]="item">
        </demand-card>
    </ion-list>
</ion-content>