<ion-card *ngIf="errorObject.ErrorType === 1">
    <ion-card-header>
        <ion-avatar item-left>
            <ion-icon subtle color="danger" large item-left name='hand'></ion-icon>
            Error
        </ion-avatar>
    </ion-card-header>
    <ion-card-content>
        {{errorObject.Message}}
    </ion-card-content>
</ion-card>

<ion-card *ngIf="errorObject.ErrorType === 2">
    <ion-card-header>
        <ion-avatar item-left>
            <ion-icon subtle color="danger" large item-left name='warning'></ion-icon>
            Warning
        </ion-avatar>
    </ion-card-header>
    <ion-card-content>
        {{errorObject.Message}}
    </ion-card-content>
</ion-card>

<ion-card *ngIf="errorObject.ErrorType === 3">
    <ion-card-header>
        <ion-avatar item-left>
            <ion-icon subtle color="primary" large item-left name='information-circle'></ion-icon>
            Info
        </ion-avatar>
    </ion-card-header>
    <ion-card-content>
        {{errorObject.Message}}
    </ion-card-content>
</ion-card>