<form [formGroup]="estateform" (ngSubmit)="onSubmit()">

    <div padding>
        <ion-segment [(ngModel)]="estateSegment" [ngModelOptions]="{standalone: true}" color="primary">
            <ion-segment-button value="Basic">
                Γενικα
            </ion-segment-button>
            <ion-segment-button value="AdditionalRooms">
                Additional Rooms
            </ion-segment-button>
            <ion-segment-button value="Heating">
                Θερμανση - Ασφαλεια
            </ion-segment-button>
            <ion-segment-button value="SurroundingArea">
                Περιβαλλων Χωρος
            </ion-segment-button>
            <ion-segment-button value="Parking">
                Parking
            </ion-segment-button>
            <ion-segment-button value="Other">
                Other
            </ion-segment-button>
            <ion-segment-button value="Map">
                Key Points & Map
            </ion-segment-button>
            <ion-segment-button value="Managment">
                Διαχειριση
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="estateSegment">
        <ion-list *ngSwitchCase="'Basic'">
            <ion-segment formControlName="Purpose" color="dark">
                <ion-segment-button *ngFor="let item of propPurpose | keys" value="{{item.key}}">{{item.value}}

                </ion-segment-button>
                <!--<ion-segment-button value="2">
                   Πωληση/ Ενοικιαση
                </ion-segment-button>
                <ion-segment-button value="3">
                    Πωληση / Ενοικιαση
                </ion-segment-button>-->
            </ion-segment>

            <ion-item>
                <ion-label>Κατηγορία</ion-label>
                <ion-select #item formControlName="PropertyCategory">
                    <ion-option *ngFor="let item of propCategories | keys" value="{{item.key}}">{{item.value}} </ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Τύπος</ion-label>
                <ion-select #item formControlName="PropertyType">
                    <ion-option *ngFor="let item of propTypes | keys" value="{{item.key}}">{{item.value}} </ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Κωδικός Site</ion-label>
                <ion-input type="text" formControlName="SiteCode"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Τίτλος</ion-label>
                <ion-input type="text" formControlName="Title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Τιμή</ion-label>
                <ion-input type="number" formControlName="Price"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Εμβαδόν (τ.μ.)</ion-label>
                <ion-input type="number" formControlName="SqFeeterior"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Εμβαδόν (τ.μ.)-Οικόπεδο</ion-label>
                <ion-input type="number" formControlName="SqfFeetLand"></ion-input>
            </ion-item>

        </ion-list>

        <ion-list *ngSwitchCase="'Parking'">
            <ion-item>
                <ion-label floating>Θέσεις Parking</ion-label>
                <ion-input type="number" formControlName="Parkings"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Closed Parking</ion-label>
                <ion-toggle checked="true" formControlName="ClosedParking"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>Heated Parking</ion-label>
                <ion-toggle checked="true" formControlName="HeatedParking"></ion-toggle>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'AdditionalRooms'">
            <ion-item>
                <ion-label>Yπόγειο</ion-label>
                <ion-toggle checked="true" formControlName="Basement"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>Fitness Room</ion-label>
                <ion-toggle checked="true" formControlName="FitnessRoom"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>Home Theatre</ion-label>
                <ion-toggle checked="true" formControlName="HomeTheatre"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>Βιβλιοθήκη</ion-label>
                <ion-toggle checked="true" formControlName="Library"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>Spa</ion-label>
                <ion-toggle checked="true" formControlName="Spa"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>Κελλάρι</ion-label>
                <ion-toggle checked="true" formControlName="WineCellar"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>Guest Suite</ion-label>
                <ion-toggle checked="true" formControlName="GuestSuite"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>Γραφείο</ion-label>
                <ion-toggle checked="true" formControlName="HomeOffice"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>Σοφίτα</ion-label>
                <ion-toggle checked="true" formControlName="Attic"></ion-toggle>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'Heating'">
            <ion-item>
                <ion-label>Κλιματισμός (A/C)</ion-label>
                <ion-toggle checked="true" formControlName="AC"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Ηλιακός</ion-label>
                <ion-toggle checked="true" formControlName="SolarHeating"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Ενδοδαπέδια Θέρμανση</ion-label>
                <ion-toggle checked="true" formControlName="FloorHeating"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Boiler</ion-label>
                <ion-toggle checked="true" formControlName="Boiler"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Πόρτα Ασφαλείας</ion-label>
                <ion-toggle checked="true" formControlName="SafetyDoor"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Συναγερμός</ion-label>
                <ion-toggle checked="true" formControlName="Alarm"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Θυρίδα</ion-label>
                <ion-toggle checked="true" formControlName="SafetyDepositBox"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Θυροτηλεόραση</ion-label>
                <ion-toggle checked="true" formControlName="VideoDoorPhone"></ion-toggle>
            </ion-item>

        </ion-list>

        <ion-list *ngSwitchCase="'SurroundingArea'">
            <ion-item>
                <ion-label>Γήπεδο</ion-label>
                <ion-toggle checked="true" formControlName="SportField"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Γκαζόν</ion-label>
                <ion-toggle checked="true" formControlName="Grass"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Δένδρα</ion-label>
                <ion-toggle checked="true" formControlName="Trees"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Πισίνα (Εξωτ.)</ion-label>
                <ion-toggle checked="true" formControlName="OutdoorPool"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Πισίνα (Εξωτ.) - Θερμενόμενη</ion-label>
                <ion-toggle checked="true" formControlName="OutdoorPoolHeated"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Πισίνα (Εσωτ.)</ion-label>
                <ion-toggle checked="true" formControlName="IndoorPool"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Πισίνα (Εσωτ.) - Θερμενόμενη</ion-label>
                <ion-toggle checked="true" formControlName="IndoorPoolHeated"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Κήπος</ion-label>
                <ion-toggle checked="true" formControlName="Garden"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>BBQ (Εξωτ.)</ion-label>
                <ion-toggle checked="true" formControlName="OutdoorBBQ"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Ηλεκτρικές Θύρες Εισόδου</ion-label>
                <ion-toggle checked="true" formControlName="ElectronicGates"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Αυτ/το Πότισμα</ion-label>
                <ion-toggle checked="true" formControlName="AutomaticWatering"></ion-toggle>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'Map'">
            <ion-item>
                <ion-label>Κοντά σε Μετρό</ion-label>
                <ion-toggle checked="true" formControlName="NearMetro"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label floating>Προσανατολισμός</ion-label>
                <ion-input type="text" formControlName="Orientation"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Απόσταση απο Χωριό</ion-label>
                <ion-input type="number" formControlName="DistanceFromVillage"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Απόσταση απο Πόλη</ion-label>
                <ion-input type="number" formControlName="DistanceFromCity"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Απόσταση απο Θάλλασα</ion-label>
                <ion-input type="number" formControlName="DistanceFromSea"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Απόσταση απο Αεροδρόμιο</ion-label>
                <ion-input type="number" formControlName="DistanceFromAirport"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label floating>Youtube URL</ion-label>
                <ion-input type="text" formControlName="YoutubeURL"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Latitude</ion-label>
                <ion-input type="text" formControlName="GeoLat"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Longitude</ion-label>
                <ion-input type="text" formControlName="GeoLong"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Χάρτης στα web portals</ion-label>
                <ion-toggle checked="true" formControlName="UploadMapToRealEstatePortals"></ion-toggle>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'Other'">
            <ion-item>
                <ion-label>Βεράντες</ion-label>
                <ion-toggle checked="true" formControlName="Terraces"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Εσωτερική Σκάλα</ion-label>
                <ion-toggle checked="true" formControlName="InternalStairs"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Γωνιακό</ion-label>
                <ion-toggle checked="true" formControlName="Corner"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>BBQ (Εσωτ.)</ion-label>
                <ion-toggle checked="true" formControlName="IndoorBBQ"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Ασανσέρ</ion-label>
                <ion-toggle checked="true" formControlName="Elevator"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Δορυφορική</ion-label>
                <ion-toggle checked="true" formControlName="SatteliteTV"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Διπλά τζάμια</ion-label>
                <ion-toggle checked="true" formControlName="DoubleWindows"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Τριπλά τζάμια</ion-label>
                <ion-toggle checked="true" formControlName="TripleWindows"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Internet</ion-label>
                <ion-toggle checked="true" formControlName="Internet"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Κατοικίδια</ion-label>
                <ion-toggle checked="true" formControlName="AnimalFriendly"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Για Φοιτητές</ion-label>
                <ion-toggle checked="true" formControlName="StudentsHousing"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Χωρίς Κοινόχρηστα</ion-label>
                <ion-toggle checked="true" formControlName="WithoutCharges"></ion-toggle>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'Managment'">
            <a ion-item (click)="selectBroker()">
                <ion-icon name="contact"></ion-icon>
                Broker: {{responsibleFullName}}
            </a>
            <a ion-item (click)="selectOwner()">
                <ion-icon name="key"></ion-icon>
                Ιδιοκτήτης: {{ownerFullName}}
            </a>
            <a ion-item (click)="selectProposed()">
                <ion-icon name="git-compare"></ion-icon>
                Σύσταση από: {{propesedByFullName}}
            </a>
        </ion-list>
    </div>

    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <button ion-button type="submit" class="button button-positive button-clear button-block" [disabled]="!estateform.valid">Καταχωρηση</button>
</form>
<ion-card *ngIf="errorMessage">
    <ion-item>
        <ion-icon subtle danger large item-left name='warning'></ion-icon>
        <h2>Something went wrong... </h2>
        <p>{{errorMessage}}</p>
    </ion-item>
</ion-card>